 <div class="container">
    <div class="row">
        <form class="form-horizontal" action="./" method="GET">
            <fieldset>
            <legend>Buscar Usuário</legend>
            </fieldset>
        </form>
    </div>
 </div>